.app {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 8fr;
  margin: 40px;
  grid-gap: 25px 10px;
  color: #fff;
}
.header img {
  width: 120px;
  height: 120px;
}